// --------preset-------
// @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;600&display=swap');
$grey: rgb(70, 70, 70);

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  &::before,
  &::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}
.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  & > *:last-child {
    font-weight: 400;
    font-size: 12px;
  }
}
body {
  margin: auto;
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
  width: 8.3in;
  height: 11.7in;
  min-height: 296.5mm;
  section {
    &:not(.contact-info){
      padding: 0 10px;
    }
    // ------------headings-font-size------------------
    h1 {
      font-size: 25px;
      font-weight: 600;
    }
    h2 {
      font-size: 20px;
      font-weight: 600;
    }
    h3 {
      font-size: 16px;
      font-weight: 600;
    }
    h4,
    p {
      font-size: 14px;
    }
    h5 {
      font-size: 12px;
    }
    b {
      color: black;
      margin-right: 5px;
    }

    & > * {
      padding: 0 5px;
    }

    .main-block-title {
      padding: 0 5px;
      margin: 20px 0 5px 0;
      color: $grey;
      border-bottom: 4px solid $grey;
    }
    a {
      text-decoration: none;
      color: black;
      font-size: 14px;
      font-weight: 400;
    }
    ul {
      margin-left: 5px;
      list-style-type: none;
      li {
        display: flex;
        font-size: 14px;
        font-weight: 400;
        h5 {
          font-weight: 400;
        }
        &:before {
          display: inline-block;
          content: "";
          border-radius: 50%;
          z-index: 2;
          height: 8px;
          width: 8px;
          margin-right: 10px;
          margin-top: 5px;
          background-color: $grey;
        }
      }
    }

    .horizontal-ul {
      // ------for horizontol bullet lists----
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      li {
        margin-left: 15px;
        &:before {
          background-color: black;
        }
      }
    }
  }
}
//----------------pdf button-----------

button {
  all: unset;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #2d92ba;
  z-index: 99;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
  img{
    width: 50px;
  }
}
// --------summary----------

.summary{
  p{
    font-weight: 400;
  }
}

// --------contact-info------

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .name {
    width: 100%;
    text-align: center;
    background: $grey;
    padding: 5px 0;
    margin-bottom: 5px;
    h1 {
      color: white;
      width: auto;
    }
  }
  .info-details {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    & > div {
      display: flex;
      align-items: center;
      margin: 2.5px 5px;

      & > img {
        height: 18px;
        margin-right: 5px;
      }
    }
  }
}

//-----------professional-exp-----

.prof-exp {
  .emp-details {
    h4 {
      color: $grey;
    }
    margin-bottom: 16px;
  }
}

// ---------education--------------

.vert-block-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 6px;
  h4 {
    color: $grey;
    padding-left: 18px;
  }
}

// ---------------certifications-------------
.certifications {
  h3 {
    font-weight: 500;
  }
  li {
    & > *:first-child {
      flex: 2;
    }
  }
}

/* ---------print-------- */
@media print {
  body {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  button {
    display: none;
  }

  @page {
    size: A4;
    margin: 0;
  }
}
