@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.space-between > *:last-child {
  font-weight: 400;
  font-size: 12px;
}

body {
  margin: auto;
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
  width: 8.3in;
  height: 11.7in;
  min-height: 296.5mm;
}

body section:not(.contact-info) {
  padding: 0 10px;
}

body section h1 {
  font-size: 25px;
  font-weight: 600;
}

body section h2 {
  font-size: 20px;
  font-weight: 600;
}

body section h3 {
  font-size: 16px;
  font-weight: 600;
}

body section h4,
body section p {
  font-size: 14px;
}

body section h5 {
  font-size: 12px;
}

body section b {
  color: black;
  margin-right: 5px;
}

body section > * {
  padding: 0 5px;
}

body section .main-block-title {
  padding: 0 5px;
  margin: 20px 0 5px 0;
  color: #464646;
  border-bottom: 4px solid #464646;
}

body section a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 400;
}

body section ul {
  margin-left: 5px;
  list-style-type: none;
}

body section ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 400;
}

body section ul li h5 {
  font-weight: 400;
}

body section ul li:before {
  display: inline-block;
  content: "";
  border-radius: 50%;
  z-index: 2;
  height: 8px;
  width: 8px;
  margin-right: 10px;
  margin-top: 5px;
  background-color: #464646;
}

body section .horizontal-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section .horizontal-ul li {
  margin-left: 15px;
}

body section .horizontal-ul li:before {
  background-color: black;
}

button {
  all: unset;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2d92ba;
  z-index: 99;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
}

button img {
  width: 50px;
}

.summary p {
  font-weight: 400;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-info .name {
  width: 100%;
  text-align: center;
  background: #464646;
  padding: 5px 0;
  margin-bottom: 5px;
}

.contact-info .name h1 {
  color: white;
  width: auto;
}

.contact-info .info-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-info .info-details > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.5px 5px;
}

.contact-info .info-details > div > img {
  height: 18px;
  margin-right: 5px;
}

.prof-exp .emp-details {
  margin-bottom: 16px;
}

.prof-exp .emp-details h4 {
  color: #464646;
}

.vert-block-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 6px;
}

.vert-block-div h4 {
  color: #464646;
  padding-left: 18px;
}

.certifications h3 {
  font-weight: 500;
}

.certifications li > *:first-child {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

/* ---------print-------- */
@media print {
  body {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  button {
    display: none;
  }
  @page {
    size: A4;
    margin: 0;
  }
}
/*# sourceMappingURL=styles.css.map */